default:
  suites:
    default:
      contexts:
        - FeatureContext: ~
  extensions:
    Jacker\LegacyDriver:
      front_controller: web/index.php
    Behat\MinkExtension:
      sessions:
        default:
          legacy: ~
